.white {
    font-family: sans-serif !important;
    background: #ffffff !important;
}
#confirmation {
    font-size: 13px;
}
a {
    text-decoration: underline !important;
}
.bold {
    text-decoration: none !important;
    font-size: 22px;
}