.logo {
    padding: 30px;
}
.sm-font {
    font-size: 14px;
}
.bg-grey {
    background: rgb(60, 67, 75);
}
.rounded-more {
    border-radius: 20px !important;
}
.white {
    font-family: sans-serif !important;
    background: #ffffff !important;
}
#confirmation {
    font-size: 13px;
}
a {
    text-decoration: underline !important;
}
.bold {
    text-decoration: none !important;
    font-size: 22px;
}
.no-bullet-points {
    list-style-type: none;
}