form, h1, button, footer, .logo, .modal, .font {
    font-family: 'Open Sans', sans-serif !important;
}
hr {
    border: solid rgba(180, 180, 180, 0.568) 1px;
}
.logo {
    padding: 30px;
}
.trilogy-logo {
    width: 70px;
    margin-bottom: 10px;
}
.p-0 {
    padding: 0% !important;
}
.bd {
    border-color: rgb(48, 49, 53) !important;
}   
input, .alert, .greyBtnBlock {
    background-color: rgb(131, 130, 130) !important;
    color: white !important;
    border: rgb(131, 130, 130) !important;
}
.greyBtnBlock {
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 1.1rem;
    margin: .5rem;
}
.text-white {
    text-decoration: none !important;
    color: white !important;
}
.text-white:hover {
    color: white !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white !important;
  }

.bl-grd-btn {
    background: linear-gradient(313deg, rgb(33, 112, 129) 0%, rgb(56,188,218) 100%) !important;
    border: none !important;
}
.del-grd-btn {
    background: linear-gradient(313deg, rgb(50, 183, 212) 0%, rgb(56,188,218) 100%) !important;
    border: none !important;
}
.gy-grd-btn {
    background: linear-gradient(313deg, rgb(95, 95, 103) 0%, rgb(77, 77, 79) 100%) !important;
    border: none !important;
}

.bl-grd-btn:hover {
    background: linear-gradient(313deg, rgb(28, 93, 107) 0%, rgb(52, 172, 199) 100%) !important;
}
.del-grd-btn:hover {
    background: linear-gradient(313deg, rgb(50, 171, 192) 0%, rgb(47, 160, 185) 100%) !important;
}
.gy-grd-btn:hover {
    background: linear-gradient(313deg, rgb(80, 80, 87) 0%, rgb(67, 67, 70) 100%) !important;
}
.mh {
    max-height: 35px;
    margin-top: 51px !important;
}
.bl {
    border-left: solid white 1px !important;
}
.person {
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.delete {
    width: 20%;
}
.margin {
    margin-top: 22px !important;
}
.rounded-left {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
.rounded-right {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}
.rounded-pill {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
.sm-font {
    font-size: 14px;
}
.bg-dark {
    background: rgb(48, 49, 53) !important;
}
.rounded-more {
    border-radius: 20px !important;
}
.white {
    font-family: sans-serif !important;
    background: #ffffff !important;
}
.bold {
    text-decoration: none !important;
    font-size: 22px;
}
.padding-more {
    padding: 66px;
}
#confirmation {
    font-size: 13px;
}
a {
    text-decoration: underline !important;
    color: rgb(46,145,163) !important;
}
a:hover {
    color: rgb(24, 101, 114) !important;
}
.help-btn, .help-btn:hover {
    color: rgb(255, 255, 255) !important;
}
.pre-footer {
    background: rgba(56,188,218, 0.39);
    margin-top: 100px !important;
    margin: 0% auto;
}
.footer-name {
    text-decoration: none !important;
}
footer {
    font-size: 20px;
    background-color: rgba(13, 102, 117, 0.288);
    margin: 0% auto;
}

@media screen and (max-width: 1199px) {
    #studentText {
        margin-top: 40px;
    }
}
@media screen and (max-width: 600px) {
    .login {
      margin: 0 auto !important;
    }
    .nav {
        justify-content: center !important;
    }
}
@media screen and (max-width: 446px) {
    .login {
        margin-top: -75px !important;
        margin-bottom: 20px !important;
    }
    #subject {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .copy-btn {
       margin: 0rem auto !important;
       margin-top: .5rem !important;
       width: 100% !important;
    }

}
